// nabar
.navbar{
    border-radius:0px;
}

// news articals
.news-articles{
    .news-article{
        .thumbnail{
            position: relative;
            &:hover{
                cursor: pointer;
            }
            
            .title{
                display: -webkit-flex;
                display: -moz-flex;
                display: flex;
                
                h3{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-width: 0;
                    height: 27px;
                }
            }
            
            .content{
                overflow: hidden;
                text-overflow: ellipsis;
                height: 60px;
            }
            
            .news-cat{
                position: absolute;
                top: 10px;
                left: 0px;
                background-color: rgba(0,0,0,0.3);
                color: white;
                width: 100%;
                height: 30px;
                padding-left: 10px;
                padding-top: 5px;
                text-shadow: 1px 1px #000;
                
                &.Entertainment{
                    background-color: rgba(255,0,0,0.3);
                }
                &.Technology{
                    background-color: rgba(0,0,255,0.3);
                }
                &.Science{
                    background-color: rgba(0,255,0,0.3);
                }
                &.Education{
                    background-color: rgba(255,0,255,0.3);
                }
            }
        }
    }
}

// article
.article{

    .article-like-btns{
        margin-top: 10px;   
    }
    
    .content{
        margin-bottom: 20px;   
    }
    
}


// col override
.center-block{
    float: none;
}



// button variant mixin
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn-like {
  @include button-variant(#FFF, #94b5d7, #667d95);
}

.btn-dislike{
    @include button-variant(#FFF, #848ed7, #5e6498);
}