<!DOCTYPE html>
<html lang="en-us" ng-app="newsApp">
    <head>
        <title>newsListings.com</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- load bootstrap and fontawesome css -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- load style css -->
        <link rel="stylesheet" href="css/style.css" />

        <!-- load jquery js -->
        <script src="javascript/jquery-1.11.3.min.js"></script>

        <!-- load bootstrap js -->
        <script src="javascript/bootstrap.min.js"></script>

        <!-- load angular js -->
        <script src="javascript/angular.min.js"></script>
        <script src="javascript/angular-route.min.js"></script>
        
        <script src="javascript/newsApp/init.js"></script>
        <script src="javascript/newsApp/config.js"></script>
        <script src="javascript/newsApp/routing.js"></script>
        <script src="javascript/newsApp/controllers.js"></script>
        <script src="javascript/newsApp/service.js"></script>
        <script src="javascript/angular-cookies-min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-default" ng-controller="navController">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">{{siteName}}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="category in categorys">
                            <a ng-if="category.id === 0" href="#/">{{category.title}}</a>
                            <a ng-if="category.id !== 0" href="#/category/{{category.id}}">{{category.title}}</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container" ng-view></div>
        
        <footer class="footer">
          <div class="container">
            <p class="text-muted">Copyright 2015 - newsListings.com</p>
          </div>
        </footer>
    </body>
</html>